.blog {
  &_title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  &_haedding {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &_link-more {
    color: $primary;
    text-decoration: none;
    border-bottom: 0.1rem solid #507fe1;
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &_image {
      height: 200px;
      overflow: hidden;
    }
    &_text {
      justify-content: center;
      margin: auto;
      width: 200px;
      color: #262626;
      align-items: center;
      min-height: 80px;
      display: flex;
      text-decoration: none;
      text-align: center;
    }
    &_card {
      margin-bottom: 20px;
    }
  }
  &-card {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    position: relative;
  }
}


.blog-list_text::before {
  content: "";
  background: url(../img/arrow-right.svg) no-repeat;
  width: 9px;
  height: 10px;
  display: none;
  margin: 0 10px;
}
.blog-card > a.blog-list_text:hover::before {
  right: 20px;
  display: inline-block;
  position: absolute;
}

@media (max-width: 576px) { 
  .blog { 
    &-list{
      &_text  { 
        min-height: 60px;
      }  
    }
  }
}

@media (max-width: 1119px) { 
  .blog { 
    &-list {
      justify-content: space-around;
      &_card {
        margin-right: 30px;
        margin-left: 30px;
      }
    }
  }
}

@media (max-width: 768px) { 
  .blog {
    &_haedding {
      flex-direction: column;
    }
  }
}