.catalog {
  &_link {
    text-align: center;
    margin-top: 60px;
    &-more {
      display: inline-block;
      margin-bottom: 24px;
    }
  }
  &_description {
    margin-bottom: 20px;
    display: block;
  }
  &-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &_card {
    margin-bottom: 30px;
  }
  &-card {
    max-width: 570px;
    position: relative;
    box-shadow: 7px 15px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    &:hover {
      .catalog-card_buttons {
        opacity: 1;
        transform: translateY(0);
      }
    }
    &_buttons {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      transition: 0.2s;
      opacity: 0;
      transform: translateY(0%);
    }
    &-button {
      text-decoration: none;
      font-size: 11px;
      border: none;
      text-transform: uppercase;
      padding: 10px;
      height: 30px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
    &_tag {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      background-color: rgba($primary, 0.6 );
      padding: 10px;
    }
    &_image {
      display: block;
    }
  }
  &_product-download {
    color: #507fe1;
    text-decoration: none;
    border-bottom: 0.1rem solid #507fe1;
  }
}

@media (max-width: 1199px) { 
  .catalog {
    &-block {
      justify-content: center;
    }
    &-card {
      max-width: 470px;
    }
  }
}

@media (max-width: 430px) { 
  .catalog {
    &-card {
      &_tag {
        top: 5px;
        left: 5px;
        font-size: 8px;
        padding: 6px;
      }
      &-button {
        font-size: 8px;
        border: none;
        text-transform: uppercase;
        padding: 6px;
        height: 24px;
        cursor: pointer;
      }
    }
  }
}

