footer {
  padding: 40px;
  background-color: #262626;
  color: #ffff;
}


.footer {
  &_copy {
    color: #656363;
    padding-top: 50px;
    display: block; 
  }
  &_contacts {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  &_phone {
    display: block;
    margin: 0;
    line-height: 1.2;
    font-size: 1.18rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .054rem;
  }
  &_small-tetx {
    color: #fff;
    text-decoration: none;
  }
  &_title {
    margin: 0;
    line-height: 1.2;
    font-size: 1.18rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .054rem;
  }
  &_pay {
    &-info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      align-items: flex-start;
    }
  }
  &-block {
    justify-content: space-around;
    flex-wrap: wrap;
    display: flex;
  }
  &_pay {
    &-logo {
      width: 10%;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-social {
    margin-top: 10px;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
    display: flex;
      &_link {
        width: 20%;
        &_imge {
          max-width: 100%;
      }
    }
  }
}


@media (max-width: 991px){ 
  .footer {
    &_copy {
      padding-top: 3px;
    }
    &_contacts {
      padding-top: 20px;
      align-items: center;
    }
  }
}
