.crumbs_wrap {
  margin-top: 5rem;
}
.crumbs_wrap-block {
  padding: 20px 0;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.crumbs_wrap-item {
  display: inline-block;
}
.crumbs_wrap-list {
  color: #bdbdbd;
  text-decoration: none;
  cursor: pointer;
}
.crumbs_wrap-list :after {
  content: "";
  background: url(../img/arrow-right.svg) no-repeat;
  width: 9px;
  height: 10px;
  display: inline-block;
  margin: 0 10px;
}

